*{margin:0;padding:0;box-sizing:border-box}.head{background-color:#9e0909;width:100%;padding:12px 8px;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;position:-webkit-sticky;position:sticky;top:0;z-index:10}.head h1{color:#fff;font-family:"Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;margin:0 20px}.head button{position:absolute;right:5%;margin:20px}.imag img{width:100%;-webkit-clip-path:polygon(0 0,100% 0,100% 71%,0 100%);clip-path:polygon(0 0,100% 0,100% 71%,0 100%)}button i,button span{color:#fff;margin:3px}button{font-size:1.2rem;background-color:rgba(0,0,0,.4);padding:4px 25px;border-radius:60px;margin:4px}button:hover{background-color:rgba(0,0,0,.5);cursor:pointer}span+span{display:inline-block;background-color:#9e0909;width:30px;height:30px;border-radius:50%;text-align:center;padding:5px}.summary{text-align:center;max-width:45rem;width:90%;margin:-10rem auto auto;position:relative;background-color:rgba(56,56,56,.7725490196078432);color:#fff;border-radius:14px;padding:1.5rem;box-shadow:0 1px 18px 10px rgba(0,0,0,.25);z-index:9}.black{background-color:rgba(0,0,0,.397)}.summary h2{font-size:2rem;margin-top:0}hr{opacity:.3}h3,h4,p{margin:4px}h3+p{font-style:italic}h4{color:#b12222;font-size:1.2rem}.item{display:-webkit-flex;display:flex;margin:15px;-webkit-align-items:center;align-items:center;position:relative}.userinput{position:absolute;right:0;top:auto;text-align:center}.userinput input{width:35px;right:0;margin-bottom:2px;text-align:center}.btn{margin:0;background-color:#9e0909;font-size:1rem;width:80px;padding:3px 5px;color:#fff}.btn:hover{background-color:rgba(158,9,9,.85);cursor:pointer}.logo{width:80px;height:80px;border-radius:50%;margin-right:15px}img+div{margin-bottom:10px}.meals{background-color:#fff;padding:20px 0 20px 20px;width:70%;margin:70px auto 40px;border-radius:10px;overflow:auto;max-height:500px}*{list-style-type:none}.cartdisplay{background-color:#fff;position:-webkit-sticky;position:sticky;top:20%;width:50%;border-radius:15px;background-size:cover;box-shadow:0 1px 18px 10px rgba(0,0,0,.25);margin:auto;z-index:13;padding:15px;display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;-webkit-animation:too 1.2s ease;animation:too 1.2s ease;transition:.5s ease}@-webkit-keyframes too{0%{opacity:.4}to{opacity:1}}@keyframes too{0%{opacity:.4}to{opacity:1}}.totalamount{margin:15px 0}.amount{font-weight:bolder;font-size:1.6rem;margin-bottom:20px;margin-top:20px}.cartbtn{float:right;-webkit-align-self:flex-end;align-self:flex-end}.lii{margin-bottom:10px}.btnn{margin-left:6px;padding-top:4px;padding-bottom:4px}h5{color:#b31717;font-size:1.6rem;float:right}.box,.increased{display:-webkit-flex;display:flex}.increased{border:.5px solid rgba(0,0,0,.218);-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;width:30px;height:20px;padding:2px}.ammmm{color:#9e0909;margin:0 20px 0 0}.ammmm,h3{font-size:1.2rem;font-weight:bolder}.itemm{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center}.usercart{position:absolute;right:1%}.inc{border-radius:6px;background-color:#9e0909;padding:2px 15px;color:#fff}.inc:hover{background-color:rgba(158,9,9,.747)}
@media all and (max-width:624px){

    img +div{
        font-size: 0.9rem;
    }
    .logo{
        width:60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 5px;

    }
    h3+p{
        font-size: 0.8rem;
    }

.btn{
    width:40px;
    
    padding: 1px 18px;
    font-size: 0.8rem;

}
.userinput input{
    width: 20px;
    height: 15px;


}

h4{
    font-size: 1rem;
}
h3{
    font-size: 1rem !important;
}

}
@media all and (max-width:436px){
    .userinput input{
        width: 18px;
        height: 13px;
    
    
    }
    h3{
        font-size: 0.9rem !important;
    }
    h3+p{
        font-size: 0.6rem;
    }
    .logo{
        width:40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;

    }
    .btn{
        
        font-size: 0.7rem;
    
    }

}

/*# sourceMappingURL=main.4156d3e6.chunk.css.map */
