hr{
    opacity: 0.3;
}
h3,p,h4{
    margin:4px;
}
h3{
    font-weight: bolder;
}
h3+p{
    font-style: italic;
}
h4{
    color: rgb(177, 34, 34);
    font-size: 1.2rem;
}
.item{
    display: flex;
    margin:15px;
    align-items: center;
    position: relative;

}
.userinput{
    position: absolute;
    right:0%;
    top:auto; text-align: center;
   
}
.userinput input{
    width: 35px;
    right:0;
    margin-bottom: 2px;
   text-align: center;

}
.btn{
    margin:0;
    background-color: rgb(158, 9, 9);
    font-size: 1rem;
    width: 80px;
    padding:3px 5px;
    color: white;
}
.btn:hover{
    background-color:rgba(158, 9, 9, 0.85) ;
    cursor: pointer;
}
.logo{
 
    width:80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}
img +div{
    margin-bottom: 10px;
}