.box{
    display: flex;
}
.increased{
    border: 0.5px solid rgba(0, 0, 0, 0.218);
   display: flex;
   justify-content: center;
   align-items: center;
width: 30px;
height: 20px;
   
    padding: 2px;
}
.ammmm{
    font-size: 1.2rem;
    margin:0px;
    color: rgb(158, 9, 9);
    margin-right: 20px;
    font-weight: bolder;
}
h3{
    font-size: 1.2rem;
    font-weight: bolder;
}
.itemm{
    display: flex;
    align-items: center;
}
.usercart{
    position: absolute;
    right: 1%;
}
.inc{
    border-radius: 6px;
    background-color: rgb(158, 9, 9);
   padding: 2px 15px;
    
    color: white;
    
}
.inc:hover{
    background-color:rgba(158, 9, 9, 0.747) ;
}