* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  background-color: rgb(158, 9, 9);
  width: 100%;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 10;
}
.head h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0px 20px;
}
.head button {
  position: absolute;
  right: 5%;

  margin: 20px;
}
.imag img{
width:100%;
clip-path: polygon(0 0, 100% 0, 100% 71%, 0 100%);



}
button i,button span{
  color:white;margin: 3px;
  
}
button{
  font-size:1.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding:4px 25px;
  border-radius:60px;
  margin:4px;

}
button:hover{
  background-color: rgba(0, 0, 0, 0.5);cursor: pointer;
}
span+span{
  display:inline-block;


  background-color:rgb(158, 9, 9);
  width:30px;
  height: 30px;
  border-radius:50%;
  text-align: center;
  padding: 5px;
}